<div class="author">
	<img class="author-avatar ll" data-src="/avatars/{{ id }}.jpg" data-srcset="/avatars/{{id}}-2x.jpg 2x, /avatars/{{id}}-3x.jpg 3x, /avatars/{{id}}-4x.jpg 4x, /avatars/{{id}}.jpg" alt="Avatar of {{name}}">
	<div class="author-info">
		<div class="author-name">{{name}}</div>
		<div class="author-socials">
			{{> socialLinks}}
		</div>
		<div class="author-bio">{{bio}}</div>
	</div>
</div>
