<div class="postlist-header" aria-hidden="true">
	<a href="#" class="postlist-filter-toggle">
		<span class="postlist-title">Filter posts &amp; tutorials</span>
		<img src="/assets/filter.svg" alt="Filter posts">
	</a>
	<div class="postlist-filter-list"></div>
</div>
<div class="postlist" role="navigation" aria-label="List of all articles on this blog">
	{{#each posts}}
		<a href="{{this.url}}" class="postlink" data-tags="{{flat-join this.meta.category this.meta.tags}}" aria-label="{{this.meta.title}}, written on {{sr-date this.meta.created}}, a {{this.readingTime}} minutes read">
			{{#if this.meta.image}}
				<img data-src="/images{{this.meta.image}}" class="postlink-image ll" aria-hidden="true">
			{{else}}
				<img class="postlink-image" aria-hidden="true">
			{{/if}}
			<div class="postlink-overlay">
				<div class="postlink-title">{{this.meta.title}}</div>
				<div class="postlink-meta">
					<span>{{{svg-icon 'calendar'}}} {{date this.meta.created}}</span>
					<span>{{{svg-icon 'clock'}}} {{this.readingTime}} min read</span>
				</div>
			</div>
		</a>
	{{/each}}
</div>
