<div class="postlist">
	{{#each posts}}
		<a href="{{this.url}}" class="postlink">
			{{#if this.meta.image}}
				<img src="/images{{this.meta.image}}" class="postlink-image">
			{{else}}
				<img class="postlink-image">
			{{/if}}
			<div class="postlink-overlay">
				<div class="postlink-title">{{this.meta.title}}</div>
				<div class="postlink-meta">
					<span><i class="icon-calendar"></i> {{date this.meta.created}}</span>
					<span><i class="icon-clock"></i> {{this.readingTime}} min read</span>
				</div>
			</div>
		</a>
	{{/each}}
</div>
