{{#if config.piwik.url}}
	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(["setDomains", [ '{{config.piwik.domain}}' ]]);
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="{{config.piwik.url}}/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', {{config.piwik.siteId}} ]);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		})();
		</script>
	<noscript><p><img src="{{config.piwik.url}}/piwik.php?idsite={{config.piwik.siteId}}" style="border:0;" alt="" /></p></noscript>
{{/if}}
