<article>
	<h1>{{post.meta.title}}</h1>
	<div class="postmeta">
		<time datetime="{{post.meta.created}}"><i class="icon-calendar"></i> {{date post.meta.created}}</time>
	</div>

	{{{post.content}}}

</article>

<div class="authors">
	{{#each post.meta.authors as |author|}}
		{{>author (lookup ../authors @this) id=author}}
	{{/each}}
</div>

<div id="disqus_thread" class="comments"></div>
<script>
	var disqus_config = function () {
		this.page.url = '{{config.blog.url}}/{{post.url}}/';
	};

	(function() {
		var d = document, s = d.createElement('script');
		s.src = '//timroes.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>

<script id="dsq-count-scr" src="//timroes.disqus.com/count.js" async></script>
