<article>
	<h1>{{title}}</h1>
	<div class="postmeta">
		<time datetime="{{post.meta.created}}">{{{svg-icon 'calendar'}}} {{date post.meta.created}}</time>
		<span aria-label="Estimated reading time">{{{svg-icon 'clock'}}} {{post.readingTime}} min read</span>
	</div>

	{{#if post.history.length}}
		<div id="post-history"></div>
	{{/if}}

	<noscript>
		<style>.adsbygoogle{display:none}</style>
	</noscript>
	<ins class="adsbygoogle"
			aria-hidden="true"
			data-ad-client="{{config.adsense.adclient}}"
			data-ad-slot="{{config.adsense.adslot}}"></ins>

	{{{post.content}}}

</article>

<div class="postbottom">
	<noscript>
		<style>
			.comments-link {
				display: none;
			}
		</style>
	</noscript>
	<a href="#comments" aria-label="Show comments" class="comments-link">{{{svg-icon 'comment'}}} <span class="disqus-comment-count" data-disqus-url="{{canonical}}"></span></a>

	<div class="postsocials">
		<span class="postsocials-label">Share on</span>
		<a href="https://plus.google.com/share?url={{encode canonical}}" target="_blank" title="Share on Google+">{{{svg-icon 'google-plus'}}}</a>
		<a href="https://twitter.com/share?via={{blogAuthor.twitter}}&url={{encode canonical}}&text={{encode post.meta.title}}" target="_blank" title="Share on Twitter">{{{svg-icon 'twitter'}}}</a>
		<a href="https://www.facebook.com/sharer/sharer.php?u={{encode canonical}}" target="_blank" title="Share on Facebook">{{{svg-icon 'facebook'}}}</a>
	</div>
</div>

{{!-- Show other posts of this post series --}}
{{#if post.series}}
	<div class="serieslinks">
		<div class="serieslinks-label">
			Read more &hellip;
			<svg viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="expand-icon plus">
				<defs>
					<path id="line" d="M 0,0 l 18,0 a 1,1 0 0 1 0,2 l -18,0 a 1,1 0 0 1 0,-2" />
				</defs>

				<use id="t" xlink:href="#line" x="3" y="11" />
				<use id="m" xlink:href="#line" x="3" y="11" />
				<use id="b" xlink:href="#line" x="3" y="11" />
			</svg>
		</div>
		<div class="serieslinks-linklist">
			{{#each-reverse post.series}}
				{{#notequals this.id ../post.id}}
				<a href="{{this.url}}" class="serieslink">
					{{this.meta.title}}
					<div class="serieslink-meta">
						{{{svg-icon 'calendar'}}} {{date this.meta.created}}
						{{{svg-icon 'clock'}}} {{this.readingTime}} min read
					</div>
				</a>
				{{/notequals}}
			{{/each-reverse}}
		</div>
	</div>
{{/if}}

<div class="authors">
	{{#each post.meta.authors as |author|}}
		{{>author (lookup ../authors @this) id=author}}
	{{/each}}
</div>

<a name="comments"></a>
<div id="disqus_thread" class="comments"></div>
<script>
	var disqus_config = function () {
		this.page.url = '{{canonical}}';
	};
</script>
