<article>
	<h1>{{post.meta.title}}</h1>
	<div class="postmeta">
		<time datetime="{{post.meta.created}}"><i class="icon-calendar"></i> {{date post.meta.created}}</time>
	</div>

	{{{post.content}}}

</article>

<div class="postbottom">
	<a href="#disqus_thread"><i class="icon-comment"></i> <span class="disqus-comment-count" data-disqus-url="{{post.canonical}}">0</span></a>

	<div class="postsocials">
		<span class="postsocials-label">Share on</span>
		<a href="https://plus.google.com/share?url={{encode post.canonical}}" target="_blank" title="Share on Google+"><i class="icon-gplus"></i></a>
		<a href="https://twitter.com/share?via={{blogAuthor.twitter}}&url={{encode post.canonical}}&text={{encode post.meta.title}}" target="_blank" title="Share on Twitter"><i class="icon-twitter"></i></a>
		<a href="https://www.facebook.com/sharer/sharer.php?u={{encode post.canonical}}" target="_blank" title="Share on Facebook"><i class="icon-facebook"></i></a>
	</div>
</div>

<div class="authors">
	{{#each post.meta.authors as |author|}}
		{{>author (lookup ../authors @this) id=author}}
	{{/each}}
</div>

<div id="disqus_thread" class="comments"></div>
<script>
	var disqus_config = function () {
		this.page.url = '{{post.canonical}}';
	};

	(function() {
		var d = document, s = d.createElement('script');
		s.src = '//timroes.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>

<script id="dsq-count-scr" src="//timroes.disqus.com/count.js" async></script>
