{{#if gplus}}
	<a href="https://plus.google.com/{{gplus}}" class="gplus" target="_blank" title="Google+ Profile">
		{{{svg-icon 'google-plus'}}}
	</a>
{{/if}}
{{#if github}}
	<a href="https://github.com/{{github}}" class="github" target="_blank" title="GitHub Profile">
		{{{svg-icon 'github'}}}
	</a>
{{/if}}
{{#if twitter}}
	<a href="https://twitter.com/{{twitter}}" class="twitter" target="_blank" title="Twitter Profile">
		{{{svg-icon 'twitter'}}}
	</a>
{{/if}}
{{#if youtube}}
	<a href="https://www.youtube.com/c/{{youtube}}" class="youtube" target="_blank" title="YouTube Channel">
		{{{svg-icon 'youtube'}}}
	</a>
{{/if}}
