<!DOCTYPE html>
<html lang="{{config.blog.language}}" class="nojs">
<head>
	<meta name="viewport" content="width=device-width">
	<meta name="theme-color" content="{{config.blog.theme_color}}">

	<title>{{#unless type_index}}{{title}} &raquo; {{/unless}}{{config.blog.title}}</title>

	<script>document.documentElement.classList.remove('nojs')</script>

	<link rel="stylesheet" href="/atf.min.css">
	{{#if type_index}}
		<link rel="stylesheet" href="/home.min.css">
	{{/if}}
	{{#if type_page}}
		<link rel="stylesheet" href="/page.min.css">
	{{/if}}

	<link rel="preload" href="/main.min.css" as="style" onload="this.rel='stylesheet';if(window._onloadcss){_onloadcss()}">
	<noscript><link rel="stylesheet" href="/main.min.css"></noscript>

	<link rel="shortcut icon" href="/assets/favicon.ico">
	<link rel="icon" href="/favicon128.png" sizes="128x128">
	<link rel="icon" href="/favicon192.png" sizes="192x192">

	<link rel="manifest" href="/manifest.json">

	<link rel="alternate" type="application/rss+xml" title="RSS feed" href="{{config.blog.url}}/feed.xml">

	{{!-- Print out the header need for social media sharing --}}
	{{> socialMediaHeaders}}
</head>
<body {{#if type_index}}class="home"{{/if}}>
	<script>document.body.classList.add('fout');setTimeout(function(){document.body.classList.remove('fout')},400)</script>
	<script src="/fonts.min.js" async></script>

	{{#if type_index}}
		<header role="banner" class="homeheader">
			<img class="ll" data-src="/images/profile.jpg" aria-hidden="true" data-srcset="/images/profile-2_5x.jpg 2.5x, /images/profile-2x.jpg 2x, /images/profile.jpg 1x" alt="{{config.blog.title}}">
			<div class="author-box">
				<h1 class="blog-title">{{config.blog.title}}</h1>
				<h2 class="blog-slogan">{{config.blog.headline}}</h2>
				<div class="header-page-navigation" role="navigation">{{~> pagelinks}}</div>
				<div class="header-socials">
					{{> socialLinks blogAuthor}}
				</div>
			</div>
		</header>
	{{else}}
		<header role="banner" class="pageheader">
			<a href="/" rel="home" aria-hidden="true">
				<img src="/favicon60.png" srcset="/favicon120.png 2x, /favicon180.png 3x, /favicon60.png">
			</a>
			<div class="header-navigation">
				<a href="/" class="header-home-link" aria-label="Back to home page" rel="home">{{config.blog.title}}</a>
				<div class="header-page-navigation" role="navigation">
					{{~> pagelinks}}
				</div>
			</div>
		</header>
	{{/if}}

	<main role="main">

		{{#if type_page}}
			{{~> page}}
		{{/if}}

		{{#if type_index}}
			{{~> home}}
		{{/if}}

		{{#if type_post}}
			{{~> post}}
		{{/if}}

	</main>
	<div class="clearfix"></div>

	<script src="/app.min.js" async></script>

	{{~> piwik}}

</body>
</html>
