<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width">
	<meta name="theme-color" content="{{config.blog.theme_color}}">

	<title>{{#if type_post}}{{post.meta.title}} &raquo; {{/if}} Tim Roes</title>
	{{#if canonical}}<link rel="canonical" href="{{canonical}}">{{/if}}

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic' rel='stylesheet' type='text/css'>

	<!-- TODO: favicons/touch icons -->
	<!-- TODO: RSS Feed -->

	{{> socialMedia}}
</head>
<body>

	<header role="banner">
		<img src="/avatars/{{blogAuthor.id}}-large.jpg" alt="Tim Roes">
		<div class="header-navigation">
			<a href="/" class="header-home-link" rel="home">{{blogAuthor.name}}</a>
			<div class="header-page-navigation">
				{{#each pages}}
					<a href="/{{this.url}}">{{this.title}}</a>
					{{#unless @last}}&#8226;{{/unless}}
				{{/each}}
			</div>
		</div>
	</header>

	<main>

		{{#if type_page}}
			{{~> page}}
		{{/if}}

		{{#if type_index}}
			{{~> home}}
		{{/if}}

		{{#if type_post}}
			{{~> post}}
		{{/if}}

	</main>

	<link rel="stylesheet" href="/main.min.css">
	<link rel="stylesheet" href="/icons/css/fontello.css">

	<!-- TODO: Cookieconsent -->
</body>
</html>
