<!DOCTYPE html>
<html lang="{{config.blog.language}}" class="nojs">
<head>
	<meta name="viewport" content="width=device-width">
	<meta name="theme-color" content="{{config.blog.theme_color}}">

	<meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2017-03-15" content="Agefdr6eHqFafvgnaiNpK5rQ0G3Yi5u+Le78scuGk2ZX3o2d8H6m0fydZCbNwcUKKHu7jRdii8BnYRYABxlTpgAAAABQeyJvcmlnaW4iOiJodHRwczovL3d3dy50aW1yb2VzLmRlOjQ0MyIsImZlYXR1cmUiOiJXZWJTaGFyZSIsImV4cGlyeSI6MTQ4OTYwODI2Nn0=">

	<title>{{#unless type_index}}{{title}} &raquo; {{/unless}}{{config.blog.title}}</title>

	<script>document.documentElement.classList.remove('nojs')</script>

	<link rel="stylesheet" href="/atf.min.css">
	{{#if type_index}}
		<link rel="stylesheet" href="/home.min.css">
	{{/if}}
	{{#if type_page}}
		<link rel="stylesheet" href="/page.min.css">
	{{/if}}

	<link rel="preload" href="/main.min.css" as="style" onload="this.rel='stylesheet';if(window._onloadcss){_onloadcss()}">
	<noscript><link rel="stylesheet" href="/main.min.css"></noscript>

	<link rel="shortcut icon" href="/assets/favicon.ico">
	<link rel="icon" href="/favicon128.png" sizes="128x128">
	<link rel="icon" href="/favicon192.png" sizes="192x192">

	<link rel="manifest" href="/manifest.json">

	<link rel="alternate" type="application/rss+xml" title="RSS feed" href="{{config.blog.url}}/feed.xml">

	{{!-- Print out the header need for social media sharing --}}
	{{> socialMediaHeaders}}
</head>
<body {{#if type_index}}class="home"{{/if}}>
	<script>document.body.classList.add('fout');setTimeout(function(){document.body.classList.remove('fout')},400)</script>
	<script src="/fonts.min.js" async></script>

	{{#if type_index}}
		<header role="banner" class="homeheader">
			<img class="ll noph" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAVCAIAAAAW+SPgAAACl0lEQVQoz42TTUhUURTHz73vvo95b2beONYwo6mjZZYfjGUkakTSImjhLmplSIvCjQSJ0DIKXBRRUbR0VRsJJIggIYaikgo/YBpjRIec8qNGR5/Om3n3vXtbNJRNGZ3V4fx//PmfezmIcw7/XeTP0djL6JNHD6hl9/Zf3lW1e6uEi9CZ6Q/D9wYPBj3mwnz/2VNflxa3qqgoSXdX58CFHpTlAPBm/H1L1+lIa8e23u2Ne7id+9HX1jWKovgvb2st/e3taCaT8/kUgt2BzpOA0Lbekl5KFRkRShVZqm/eiv6FBgBV19MciKgrmlYk/aIdzpPGasfIHUeAcLBCVd13J6Ph4VuT6UWbs99yL5hG4+P7RnYTu9SL3N1bvc8laXXx6LptYUq9/kCy67wmkIJ3Xzy6QRnP5m2Or1vpnumJ6o+vMw7lnPFcfi1n3k5NF/7yS25jZD7BECBMOCEcq8+BATCQZW7lwaYgq1NZo0CPLsyBw5hpYSIgjAGhsKzbtpmycwhJIImAcWIzU9jySvwVy1OEAfIUbOeQJzBQ0dyuBxUQWCrFZAW4Y1i0QN+oPewF4oguvrbiEvDVvW3HApV94ZawoLHkp4jPf7O0eshXU0hy3O2bKquPUX7i6TPBpSZrlpfAYGCf2VEzaOSvSVpE1vyh8sILrs7GZsdeYAppVX0YG3eXhPxyqQx0fWXe52SPNEXK9GDoQJus6wQAHIdTh+30lSiCeKm1g1JwHIowEsr9QEQiyphogksFAMI51ytrQzZfTMRjiZjXRsyxGbdVTadYwCDNeFzdLUeJJAIAQQiJsly1v+mdVz6XnYOsSSxmgyxhp4FIEY9/SDT7G+qKL+2zkREoZYQ4HIBhKpBJTZkwlxVv6CfzHYIFHpXWCRlxAAAAAElFTkSuQmCC" data-src="/images/profile.jpg" aria-hidden="true" data-srcset="/images/profile-2_5x.jpg 2.5x, /images/profile-2x.jpg 2x, /images/profile.jpg 1x" alt="{{config.blog.title}}">
			<div class="author-box">
				<h1 class="blog-title">{{config.blog.title}}</h1>
				<h2 class="blog-slogan">{{config.blog.headline}}</h2>
				<div class="header-page-navigation" role="navigation">{{~> pagelinks}}</div>
				<div class="header-socials">
					{{> socialLinks blogAuthor}}
				</div>
			</div>
		</header>
	{{else}}
		<header role="banner" class="pageheader">
			<a href="/" rel="home" aria-hidden="true">
				<img src="/favicon60.png" srcset="/favicon120.png 2x, /favicon180.png 3x, /favicon60.png">
			</a>
			<div class="header-navigation">
				<a href="/" class="header-home-link" aria-label="Homepage" rel="home">{{config.blog.title}}</a>
				<div class="header-page-navigation" role="navigation">
					{{~> pagelinks}}
				</div>
			</div>
		</header>
	{{/if}}

	<main role="main">

		{{#if type_page}}
			{{~> page}}
		{{/if}}

		{{#if type_index}}
			{{~> home}}
		{{/if}}

		{{#if type_post}}
			{{~> post}}
		{{/if}}

	</main>
	<div class="clearfix"></div>

	<script src="/app.min.js" async></script>

	{{~> piwik}}

</body>
</html>
