<!DOCTYPE html>
<html lang="{{config.blog.locale}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width">
	<meta name="theme-color" content="{{config.blog.theme_color}}">

	<title>{{#unless type_index}}{{title}} &raquo; {{/unless}}{{config.blog.title}}</title>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/main.min.css">
	<link rel="stylesheet" href="/icons/css/fontello.css">

	<link rel="shortcut icon" href="/assets/favicon.ico">
	<link rel="icon" href="/assets/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/assets/favicon-192.png" sizes="192x192">
	<!-- TODO: RSS Feed -->

	{{!-- Print out the header need for social media sharing --}}
	{{> socialMediaHeaders}}
</head>
<body {{#if type_index}}class="home"{{/if}}>

	<header role="banner">
		<img src="/avatars/{{blogAuthor.id}}-large.jpg" alt="Tim Roes">
		<div class="header-navigation">
			<a href="/" class="header-home-link" rel="home">{{config.blog.title}}</a>
			{{#if type_index}}
				<div class="header-slogan">{{blogAuthor.headline}}</div>
			{{/if}}
			<div class="header-page-navigation">
				{{#each pages}}
					{{#unless this.hidden}}
						<a href="{{this.url}}">{{this.meta.title}}</a>
						{{#unless @last}}&#8226;{{/unless}}
					{{/unless}}
				{{/each}}
			</div>
		</div>

		<div class="header-socials">
			{{#if type_index}}
				{{> socialLinks blogAuthor}}
			{{/if}}
		</div>
	</header>

	<main>

		{{#if type_page}}
			{{~> page}}
		{{/if}}

		{{#if type_index}}
			{{~> home}}
		{{/if}}

		{{#if type_post}}
			{{~> post}}
		{{/if}}

	</main>

	<script src="/app.min.js"></script>

	<!-- TODO: Cookieconsent -->
	<div class="clearfix"></div>

	{{~> piwik}}

</body>
</html>
